* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 3.6rem!important;
}

main {
  font-size: 1.6rem;
}

canvas {
  background-color: #82cbff;
  width: 100%;
  height: auto;
}

.clockdate-wrapper {
  background-color: #333;
  text-align: center;
  padding: 0rem;
  margin: 0 auto;
  max-width: 12.0rem;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.fx-val {
  display: inline;
  margin: 1.4rem;
  padding: auto;
}

.cx-val {
  display: inline;
  margin: 1.55rem;
  padding: auto;
}

.inputs-array {
  font-size: 1.2rem;
  height: 4.0rem;
  width: 4.0rem;
}


#clock{
  background-color: #333;
  font-family: sans-serif;
  font-size: 2.2rem;
  text-shadow: 0 0 0.1rem #fff;
  color: #fff;
  border-radius: 0.5rem;
}

#clock span {
  color:#888;
  text-shadow: 0 0 0.1rem #333;
  font-size: 3.0rem;
  position: relative;
  top: -2.7rem;
  left: -1.0rem;
}

#date {
  letter-spacing: 1.0rem;
  font-size: 1.4rem;
  font-family: arial, sans-serif;
  color: #fff;
}


footer{
  width: 100%;
  background: #202020;
  color: white;   
  
}

.container-footer-all{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2{
  max-width: 400px;
  
}

.colum2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}
